.banner_screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    background: linear-gradient(296.82deg, $SecondColor 0%, $MainColor 100%);
}

.banner_box{
    height: 545px;
    width: 1200px;
    left: calc(50% - 1200px/2);
    top: calc(50% - 628px/2 + 20px);
    background: linear-gradient(99.81deg, $SecondColor 1.8%, $MainColor 63.18%);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 200px 5px;

    .banner_logo{
        margin: 18px 0px 0px 8px
    }

    .banner_info_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 0px 0px 50px;
        width: 650px;
        height: 334px;
        margin-top: 64px;
    }

    h1{
        position: static;
        height: 78px;
        left: 50px;
        bottom: 256px;
        font-family: $Font;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 78px;
        color: $WhiteColor;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    hr{
        /* Banner-Bar */
        width: 541px;
        height: 3px;
        background: $GoldColor;
        margin: 20px 0px;
        outline: none;
        border: none;
    }

    h3{
        width: 427px;
        height: 58px;
        left: 50px;
        font-family: $Font;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $WhiteColor;
        margin-bottom: 20px;
    }

    p{
        width: 492px;
        height: 66px;
        left: 50px;
        font-family: $Font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $WhiteColor;
        margin-bottom: 20px;
    }
}

.arrow{
    position: relative;
    margin-left: 30px;
    bottom: 50px;
    width: 100px;
    animation: arrowMotion 2s ease-in-out infinite;
}

@keyframes arrowMotion{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0px);
    }
}

.clouds{
    display: flex;
    background: red;
}

.cloud1{
    position: absolute;
    width: 600px;
    top: 18%;
    left: 55%;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.1));
    animation: cloud1Motion 3s ease-in-out infinite;
}

@keyframes cloud1Motion{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.cloud2{
    position: absolute;
    width: 150px;
    top: 18%;
    left: 53%;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.1));
    animation: cloud2Motion 3s ease-in-out infinite;
}

@keyframes cloud2Motion{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(4px);
    }
    100%{
        transform: translateY(0px);
    }
}

.cloud3{
    position: absolute;
    width: 280px;
    top: 53%;
    left: 71%;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.1));
    animation: cloud3Motion 3s ease-in-out infinite;
}

@keyframes cloud3Motion{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0px);
    }
}


//Desktop Query´s:
@media screen and (max-width: 3840px) and (max-height: 2160px){
    .cloud1{
        top: 35%;
        left: 53%;
    }

    .cloud2{
        top: 34%;
        left: 53%;
    }

    .cloud3{
        top: 52%;
        left: 60%;
    }
}

@media screen and (max-width: 2560px) and (max-height: 1600px){
    .cloud1{
        top: 29%;
        left: 53%;
    }

    .cloud2{
        top: 28%;
        left: 53%;
    }

    .cloud3{
        top: 53%;
        left: 65%;
    }
}

@media screen and (max-width: 2560px) and (max-height: 1440px){
    .cloud1{
        top: 27%;
        left: 53%;
    }

    .cloud2{
        top: 25%;
        left: 53%;
    }

    .cloud3{
        top: 53%;
        left: 65%;
    }
}

@media screen and (max-width: 2560px) and (max-height: 1200px){
    .cloud1{
        top: 22%;
        left: 53%;
    }

    .cloud2{
        bottom: 63%;
    }

    .cloud3{
        left: 65%;
        top: 53%;
    }
}

@media screen and (max-width: 2560px) and (max-height: 1080px){
    .cloud1{
        top: 12%;
        left: 53%;
    }

    .cloud2{
        top: 13%;
        left: 52%;
    }

    .cloud3{
        top: 53%;
        left: 71%;
    }
}

@media screen and (max-width: 1920px) and (max-height: 1200px){
    .cloud1{
        top: 22%;
        left: 53%;
    }

    .cloud2{
        top: 21%;
    }
}

@media screen and (max-width: 1920px) and (max-height: 1080px){
    .cloud1{
        top: 18%;
        left: 55%;
    }

    .cloud2{
        top: 18%;
        left: 53%;
    }

    .cloud3{
        top: 53%;
        left: 71%;
    }
}

@media screen and (max-width: 1920px) and (max-height: 937px){
    .cloud1{
        top: 13%;
        left: 55%;
    }

    .cloud2{
        top: 13%;
        left: 53%;
    }

    .cloud3{
        top: 53%;
        left: 71%;
    }
}

@media screen and (max-width: 1680px) and (max-height: 1050px){
    .cloud1{
        bottom: calc(28%);
        top: 18%;
    }
}

@media screen and (max-width: 1600px) and (max-height: 1200px){
    .cloud1{
        bottom: calc(28%);
    }
}

@media screen and (max-width: 1600px) and (max-height: 900px){
    .cloud1{
        top: 12%;
        left: 55%;
    }

    .cloud2{
        top: 10%;
        left: 53%;
    }

    .cloud3{
        top: 53%;
        left: 73%;
    }
}

@media screen and (max-width: 1280px) and (max-height: 1024px){
    .cloud1{
        width: 45%;
        left: 55%;
        top: 18%;
    }
}

@media screen and (max-width: 1280px) and (max-height: 800px){
    .cloud1{
        bottom: calc(28%);
        top: 8%;
    }

    .cloud2{
        bottom: 70%;
    }

    .cloud3{
        left: 79%;
    }
}

@media screen and (max-width: 1280px) and (max-height: 720px){
    .cloud1{
        top: 4%;
        left: 55%;
    }

    .cloud2{
        top: 1%;
        left: 53%;
    }

    .cloud3{
        top: 53%;
        left: 77%;
    }
}








